<h4>RPL-P2P-Demo</h4>
<div class="p2pContainer">
  <div class="p2pSend">
    <h4>New Message</h4>
    <label>
      Address:
      {{addressStub}}
      <input type="text"
             size="4"
             (keyup)="onTargetChange()"
             [(ngModel)]="significant">
    </label>
    <br>
    <label>Port: {{demoPort}}</label>
    <br>
    <label>
      Message:
      <br>
      <textarea rows="4" cols="50" maxlength="1000"
                [(ngModel)]="message">
  </textarea>
    </label>
    <br>
    <button (click)="sendDatagram()">Send</button>
    <br>
    <h4>Sent messages</h4>
    <ul>
      <li *ngFor="let response of responseLog">
        {{response}}
      </li>
    </ul>
    <br>
  </div>

  <div class="p2pRec">
    <h4>Received messages</h4>
    Messages: {{indicationLog.length}} <br>
    <ul>
      <li *ngFor="let indication of indicationLog">
        <label>
          Source:
          {{indication.source}}
        </label>
        <br>
        <label>
          Message:
          <br>
          <textarea rows="4" cols="50" maxlength="1000" readonly>
{{indication.message}}
  </textarea>
        </label>
      </li>
    </ul>
  </div>

  <div class="p2pTables">
    <app-routing-table></app-routing-table>
  </div>
</div>
