<h4>Supported Paths</h4>
<table>
  <tr>
    <th>
     Root-Address
    </th>
    <th>
     Child-Address
    </th>
    <th>
      Root-Link
    </th>
    <th>
      Child-Link
    </th>
    <th>
     Rank
    </th>
  </tr>
   <tr *ngFor="let entry of rootEntries">
    <td>
      {{entry.rootAddress}}
    </td>
    <td>
      {{entry.childAddress}}
    </td>
    <td>
      -
    </td>
    <td>
      {{entry.linkHeaderToChild.linkDestination}}
    </td>
    <td>
      {{entry.rankHigh}}
    </td>
  </tr>
  <tr *ngFor="let entry of parentEntries">
    <td>
      {{entry.rootAddress}}
    </td>
    <td>
      {{entry.childAddress}}
    </td>
    <td>
      {{entry.linkHeaderToRoot.linkDestination}}
    </td>
    <td>
      {{entry.linkHeaderToChild.linkDestination}}
    </td>
    <td>
      {{entry.rankHigh}}
    </td>
  </tr>
  <tr *ngFor="let entry of childEntries">
    <td>
      {{entry.rootAddress}}
    </td>
    <td>
      {{entry.childAddress}}
    </td>
    <td>
      {{entry.linkHeaderToRoot.linkDestination}}
    </td>
    <td>
      -
    </td>
    <td>
      {{entry.rankHigh}}
    </td>
  </tr>
</table>
<h4>Neighbour qualities</h4>
<table>
  <tr>
    <th>link address</th>
    <th>qualities</th>
  </tr>
  <ng-container *ngFor="let neighbour of neighbours | keyvalue">
    <tr>
      <td>{{neighbour.key}}</td>
      <td>{{neighbour.value.toLocaleString()}}</td>
    </tr>
  </ng-container>

</table>
